[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PUPAK"]
	path = PUPAK
	url = https://github.com/cran/PUPAK
[submodule "PUPMCR"]
	path = PUPMCR
	url = https://github.com/cran/PUPMCR
[submodule "PUPMSI"]
	path = PUPMSI
	url = https://github.com/cran/PUPMSI
[submodule "extraterrestrial"]
	path = extraterrestrial
	url = https://github.com/cran/extraterrestrial
